.atento {
    max-width: 80%;
    min-width: 80%;
    margin-left: 3vw;
    margin-bottom: 2vh;
}

.descricao h1 {
    font-size: 16px;
}

@media (max-width: 720px) {

    .atento {
        max-width: 95%;
        min-width: 95%;
        margin-left: 3vw;
        margin-bottom: 2vh;
    }

}